body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 24px;
}


#root {
  position: absolute;
  height: 100vh;
  width: 100vw;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


button {
  border: thick outset cyan;
  border-radius: 1rem;
  padding: 1rem 2rem;
}


header {
  border: thick outset gray;
  width: 98%;
  text-align: center;
}


footer {
  border: thick outset gray;
  /* width: 98%; */
  text-align: center;
  margin: 1rem;
  padding: 1rem 2rem;
}


input {
  border: thick inset cyan;
  font-size: 24px;
}


select {
  border: thick inset cyan;
  font-size: 24px;
}


.button.panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button.panel button {
  margin: 0.2rem;
  max-width: 6rem;
}


.container {
  position: relative;
  border: thin solid cyan;
  margin: 1rem;
  padding: 1rem;
}

.order.container {
  text-align: center;
}

.timespan.container {

}

.verses.container {
  text-align: center;
}

.dayset.container {
  text-align: center;
}
